#create-swit.fluid
  = form_for @swit, :url => { :controller => 'swits', :action => 'create'}, :html => { :method => :post, :class => "ui form" }, remote: true do |f|
    = f.text_area :post, placeholder: "What's sweet?", rows: "4", class: "swit-text-area"
    %span#create-swit-error{:style => "color: red;"}
    .ui.grid
      .ui.eight.wide.column
        .swit-submit
          = f.submit 'CREATE SWIT', class: "ui disabled fluid button createswit-btn"
      .ui.eight.wide.column.middle.aligned#chars-col
        %span#swit-charcount 140
        %span  /140 characters