.ui.grid
	#left-panel.four.wide.column

	#center-panel.eight.wide.column
		#profile-swits-title
			%h4 
				#{pluralize(@swits.count, "result")} for #{params[:to_match]}
		#profile-swits
			- @swits.each do |s|
				- @swit = s
				= render :partial => 'swits/switone'

				