.create-comment
	= form_for @comment, :url => { :controller => 'comments', :action => 'create', :swit_id => @swit.id }, :html => {:class => "ui form", :method => :post }, remote: true do |f|
		.ui.grid
			#comment-field.ui.twelve.wide.column.field
				.ui.input
					= f.text_area :content, rows: 1,  placeholder: "Write comment",  class: "comment-textarea"
			.ui.four.wide.column.field
				= f.submit 'Create Comment', class: "ui fluid large teal button createcomm-btn"