.ui.grid
	#left-panel.four.wide.column
		= render 'swits/form'
	#center-panel.eight.wide.column
		#profile-swits
			- if @swits != nil
				- @swits.each do |s|
					- @swit = s
					= render :partial => 'swits/view_swits'
			- else
				%h4 No swits yet.

#swit-comment-modal.ui.long.modal