.ui.grid
	#left-panel.four.wide.column
		= render 'swits/form'
	#center-panel.eight.wide.column
		#profile-swits
			- @swits.each do |s|
				- @swit = s
				= render :partial => 'swits/view_swits'
				= render :partial => 'comments/switandcomments'