/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

$color-green: #99B898;
$color-yellow: #FECEAB;
$color-pink: #FF847C;
$color-red: #E84A5F;
$color-gray: #2A363B;
$dark-gray: #212121;

#main{
	position: fixed;
	width: 100%;
	height: 100%;
	background: $dark-gray;
}

#home-nav{
	position: fixed;
	width: 100%;
	height: 75px;
	background: #d9d5de;
	padding-left: 100px;
	padding-right: 100px;
	// padding-top: 10px;
	// padding-bottom: 10px;
	z-index: 9999;
}

#navbar{
	margin: 0!important;
	height: 100%;
}

#nav-right{
	text-align: right!important;
}

.nav-btn{
	width: 50px;
	height: 100%;
	padding-top: 30px!important;
	float: left;
}

.nav-btn a{
	font-size: 40px;
}

#nav-title h1{
	margin: 0!important;
}

#main-holder{
	width: 100%;
	height: 100%;
	position: fixed;
	padding-top: 75px;
	// padding-left: 15%;
	overflow-x: hidden;
}

#main-content{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#signup-box::-webkit-scrollbar-track
{
    background: transparent;
    /*-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);*/
    /*background-color: #F5F5F5;*/
}
#signup-box::-webkit-scrollbar
{
    width: 6px;
    background-color: transparent;
}

#signup-box::-webkit-scrollbar-thumb
{
    background-color: #4db6ac;
    border-radius: 5px;
}

.swit-big-content a{
	color: #4db6ac!important;
	font-weight: bold!important;	
}

.swit-post a{
	color: $color-red!important;
	font-weight: bold!important;
}

.swit-big-content a:hover{
	color: #80cbc4!important;
}

.swit-post a:hover{
	color: $color-pink!important;
}

#sidenav{
	position: fixed;
	width: 15%;
	height: 100%;
	background: $color-gray;
	padding-left: 20px;
	padding-right: 20px;
}

.sidenav-btn{
	height: 100px;
	background: #37474f;
	margin-top: 5px;
	margin-bottom: 5px;
}

.nav-btn a:hover{
	color: #0277bd!important;
}

.nav-btn a{
	color: #01579b!important;
	border-radius: 50%;
	width: 44px!important;
	top: 0!important;
}

#navigation{
	padding: 0!important;
	padding-top: 30px!important;
}

a:hover{
	background: transparent;
}