// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "semantic-ui";

$color-green: #99B898;
$color-yellow: #FECEAB;
$color-pink: #FF847C;
$color-red: #E84A5F;
$color-gray: #2A363B;

.create-comment{
	background: $color-pink;
	padding: 10px;
}

.comment{
	border: solid;
	border-width: 2px;
	border-color: #d9d5de;
	border-radius: 3px;
	margin: 10px;
	padding: 10px;
	font-size: 16px;
}

.comment-name{
	font-weight: bold;
}

.comment-timestamp{
	color: $color-gray;	
}

.ui.basic.blue.button{
	padding-top: 9px!important;
	padding-bottom: 9px!important;
}