// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "semantic-ui";

$color-green: #99B898;
$color-yellow: #FECEAB;
$color-pink: #FF847C;
$color-red: #E84A5F;
$color-gray: #2A363B;


#left-panel{
	padding-top: 14px;
}

.createswit-label{
	text-transform: uppercase!important;
	font-size: 16px;
	letter-spacing: 2px;
	margin-bottom: 10px!important;
}

.createswit-btn{
	margin-top: 10px!important;
	text-align: right!important;
}

#center-panel{
	background: transparent;
	padding-left: 0!important;
	padding-right: 0!important;
}