.ui.grid
	.four.wide.column
		%h1
			Profile
		= render 'users/profile'
		- if @user.id == session[:user_id]
			= render 'swits/form'
	.eight.wide.column
		%h1 Swits
		#profile-swits
			- @swits.each do |s|
				- @swit = s
				= render :partial => 'swits/view_swits'